fastapi
uvicorn
faster-whisper
transformers
# torch removed (handled in Dockerfile)
ffmpeg-python
pytesseract
python-docx
fpdf2
sqlalchemy
pydantic
python-dotenv
python-multipart
yt-dlp
numpy
pillow
opencv-python-headless
psycopg2-binary
pymysql
groq
google-generativeai
psutil
