@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  .material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #142210;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3f6732;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #46ec13;
  }
  
  /* Transcript interaction */
  .transcript-bubble:hover {
    background-color: rgba(44, 72, 35, 0.3);
  }
}
